.contact {
    margin: 0;

    &__wrapper{
        @include pageGrid;
    }
    &__forms {
        grid-column: 1 / -1;
    }
    &__input {
        width: 278px;
        height: 48px;
        background: #FFF;
        border: 1px solid #E0E0E0;
        border-radius: 40px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;

        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    &__textarea {
        width: 278px;
        height: 148px;
        background: #FFF;
        border: 1px solid #E0E0E0;
        border-radius: 16px;
        padding: 14px 16px;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    &__info {
        grid-column: 1 / -1;
    }
}