.details {
    &__wrapper {
        display: grid;
        row-gap: 40px;

        @include onTablet {
            row-gap: 64px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 80px;

        @include onTablet {
            padding-top: 48px;
        }
    }
}

.detail {
    &__photos {
        @include pageGrid;

        margin-bottom: 16px;
    }
    &__link {
        position: relative;

        &--wide {
            @include onTablet {
                grid-column: span 4;
            }

            @include onDesktop {
                grid-column: span 8;
            }
        }
        &--square {
            height: 0;
            padding-bottom: 100%;

            @include onTablet {
                grid-column: span 2;
            }

            @include onDesktop {
                grid-column: span 4;
            }
        }
    }
    &__photo {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
    }

    &__description {
        margin: 0; 
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    background-color: #fff;
    color: black;
    width: 278px;
    height: 56px;
    border-radius: 40px;
    padding-right: 48px;
    padding-left: 48px;
    text-decoration: none;

    @include onTablet {
        width: 392;
        top: 4032px;
        left: 176px;
    }

    @include onDesktop {
        width: 324;
        top: 3346px;
        left: 468px;
    }
    &:hover {
        box-shadow: 1px 4px 16px 0 #E8E8F066;
    }

    &:active {
        box-shadow: 1px 4px 16px 0 #E8E8F0A3;
    }
}