.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $color-gray;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  &__top {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: $font-size-small;
    line-height: 27px;
    color: $color-dark-gray;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-dark-gray;

    font-size: $font-size-small;
    line-height: 16px;
    letter-spacing: 2px;
    color: $color-dark-gray;
    text-decoration: none;
  }
}
