.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: $color-dark-gray;
    text-decoration: none;
    font-size: $font-size-semi-mobile;
    line-height: 22px;
    letter-spacing: 2px;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-dark-gray;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
