.page {
  font-family: $font-family;
  font-size: $font-size-semi-small;
  line-height: 140%;
  color: $color-white;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background-color: $color-dark-gray;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
