@import './variables';
@import './utils/mixins';
@import './blocks/header';
@import './blocks/page';
@import './blocks/top-bar';
@import './blocks/icon';
@import './blocks/menu';
@import './blocks/nav';
@import './blocks/main';
@import './blocks/intro';
@import './blocks/section-title';
@import './blocks/recommended';
@import './blocks/product';
@import './blocks/details';
@import './blocks/contact';

.footer {
  margin: auto;
}
