/* Fonts */
$font-family: 'Poppins', sans-serif;

/* Font Weights */
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Font Sizes */
$font-size-small: 12px;
$font-size-semi-small: 16px;
$font-size-semi-mobile: 22px;
$font-size-mobile: 36px;
$font-size-tablet: 40px;

/* Colors */
$color-white: #fff;
$color-gray: #c2c2c2;
$color-dark-gray: #1d1d1d;

/* Breakpoints */
$breakpoint-tablet: 576px;
$desktop-min-width: 1020px;
